lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea
pids
logs
results

npm-debug.log
node_modules
.idea
.vscode
libs/pay/alipay
libs/pay/tenpay
/public/plugins/font-awesome/库.lnk

libs/pay/tenpay/config.js
