<style>
	.emailbinding2 .bindingMessege{
		width: 680px;
		margin:40px 0 0 355px;
		font-size: 19px;
	}
</style>
			    	<div class="emailbinding2">
			    		<h2>邮箱认证</h2>
			    		<div class="checkStep">
			    		<div class="navStep stepActive"></div><div class="nav_step_logo step_one_active"></div>
			    		<div class="navStep stepActive"></div><div class="nav_step_logo step_two_active"></div>
			    		<div class="navStep stepActive"></div><div class="nav_step_logo step_three_active"></div>
			    	    <div class="navStep stepActive"></div>
			    	    <ul>
		    	    		<li>填写邮箱</li>
		    	    		<li >查收邮件</li>
		    	    		<li class="redFont">完成</li>
			    	    </ul>
			    	</div>
				    	<p class="bindingMessege">恭喜您，已完成邮箱绑定！</p>
				    </div>