<style>
	.emailbinding2 .bindingMessege{
		width: 710px;
		margin:40px 0 0 200px;
		font-size: 16px;
	}
</style>
			    	<div class="emailbinding2">
			    		<h2>邮箱认证</h2>
			    		<div class="checkStep">
			    		<div class="navStep stepActive"></div><div class="nav_step_logo step_one_active"></div>
			    		<div class="navStep stepActive"></div><div class="nav_step_logo step_two_active"></div>
			    		<div class="navStep stepNotyet"></div><div class="nav_step_logo step_three_notyet"></div>
			    	    <div class="navStep stepNotyet"></div>
			    	    <ul>
		    	    		<li>填写邮箱</li>
		    	    		<li class="redFont">查收邮件</li>
		    	    		<li>完成</li>
			    	    </ul>
			    	</div>
				    	<p class="bindingMessege">请登录您的邮箱<span><%=userInfo.targetEmail%></span>中查收认证邮件，点击邮箱中的"邮箱认证链接"完成认证!</p>
				    </div>