<style type="text/css">
	.mobileBinding3 .bindingMessege{
		width: 320px;
		margin:50px 0 0 315px;
		font-size: 17px;
	}
</style>
<div class="mobileBinding3" ng-controller="mobileBinding3">
			    		<h2>安全设置</h2>
			    		<div class="checkStep">
			    		<div class="navStep stepActive"></div><div class="nav_step_logo step_one_active"></div>
			    		<div class="navStep stepActive"></div><div class="nav_step_logo step_two_active"></div>
			    		<div class="navStep stepActive"></div><div class="nav_step_logo step_three_active"></div>
			    	    <div class="navStep stepActive"></div>
			    	    <ul>
							<li>解绑手机</li>
							<li >绑定手机</li>
							<li class="redFont">完成</li>
			    	    </ul>
				    	</div>
				    	<div class="bindingMessege">您已成功绑定新的手机号：{{phoneNum}}</div>
			    	</div>