<style type="text/css">
        .greyBorder{
			border: 1px solid #bdbcbc;
		}
	    form{
			width: 400px;
			margin: 0 auto;
			margin-top: 20px;
		}
		.oldpwd,.newpwd,.checknewpwd{
			width: 340px;
			height: 40px;
			position: relative;
		}
		.oldpwd{
			margin-bottom: 35px;
		}
		.newpwd-tip,.checknewpwd-tip{
			width: 340px;
			height:35px;
		}
		form input{
			width: 290px;
			height:40px;
			padding-left: 10px;
		}
	    .login-green-check-ok{
			width: 34px;
			height: 34px;
			position: absolute;
			right: 3px;
			top: 10px;
		}
	    span{
			display: inline-block;
			color: crimson;
			margin-top: 2px;
		}
		.submitBtn {
			height: 50px;
			font-size: 28px;
			color: white;
			background-color: #da2f2f;
			border: 1px solid #da2f2f;
			border-radius: 3px;
			cursor: pointer;
		}
	.errorMessage{
		width: 280px;
		height: 25px;
		font-size: 13px;
		color: #da2f2f;
		text-align: left;
		padding-left: 5px;
		margin-bottom: 3px;
		line-height: 25px;
	}
</style>
                    <div class="modifyPassword" ng-controller="modifyPassword">
			    		<h2>安全设置</h2>
						<form  name="user" ng-submit="modifyPassword()" class="form-container-username" ng-show="flag" novalidate="novalidate">
							<div class="oldpwd">
								<input class="greyBorder" type="password" id="oldpwd" value="" name="oldpwd" ng-model="oldpwd"
									   autocomplete="off" placeholder="输入原密码"/>
								<i class=" login-green-check-ok" ng-show="user.oldpwd.$dirty&&user.oldpwd.$valid&&oldpwd!==''"></i>
							</div>
<!--							<div class="oldpwd-tip" >
								<div ng-show="user.oldpwd.$dirty&&user.oldpwd.$invalid">
									<i class="login-tip-div-i"></i><span>原密码输入错误</span>
								</div>
							</div>-->
							<div class="newpwd">
								<input class="greyBorder" type="password" id="newpwd" name="newpwd" ng-model="newpwd"
									   value="" autocomplete="off" placeholder="设置新密码(长度必须超过6位)" ng-pattern="/^.{5}.+$/" required />
								<i class=" login-green-check-ok" ng-show="user.newpwd.$dirty&&user.newpwd.$valid"></i>
							</div>
							<div class="newpwd-tip" >
								<div ng-show="user.newpwd.$dirty&&user.newpwd.$invalid&&newpwd!==''">
									<i class="login-tip-div-i"></i><span>密码格式不对</span>
								</div>
							</div>
							<div class="checknewpwd">
								<input class="greyBorder" type="password" id="checknewpwd" name="checknewpwd" value="" pw-check="newpwd"
									   ng-model="checknewpwd"autocomplete="off" placeholder="密码确认" required />
								<!--<i class=" login-green-check-ok" ng-show="user.checknewpwd.$dirty&&user.checknewpwd.$valid"></i>-->
								<i class="login-green-check-ok" ng-show="(!user.checknewpwd.$error.pwmatch)&&user.checknewpwd.$dirty&&user.checknewpwd.$valid"></i>
							</div>
							<div class="checknewpwd-tip">
								<div ng-show="user.checknewpwd.$error.pwmatch&&user.checknewpwd.$dirty">
									<i class="login-tip-div-i"></i><span>两次密码不一样</span>
								</div>
							</div>
							<div class="errorMessage">{{errorMessage}}</div>

							<a href="javascript:void(0)">
								<input class="submitBtn" type="submit" value="提          交" ng-class="{disableBtn:user.$invalid}" ng-disabled="user.$invalid"/>
							</a>
						</form>


					</div>
			    	 
