<style>
	.bottom_lanmai{
		margin-top: 250px;
	}
</style>
<div class="Binding">
			    	<h2>认证管理</h2>
			    	<ul>
			    		<li><a>账户安全认证</a></li>
			    		<li class="redBorder"><a>身份认证</a></li>
			    	</ul>
			    	<div class="accountbing bgGrey">
			    		<div class="imglogo identify"></div>
			    		<h2>实名认证</h2>
			    		<ul>
			    			<li><a>认证简单</a></li>
			    			<li><a>需要上传清晰的手持身份证照片</a></li>
			    		</ul>
			    		<button title="查看认证信息">已认证</button>
			    	</div>
			    	<div class="accountbing bgGrey">
			    		<div class="imglogo certificatPic"></div>
			    		<h2>营业执照认证</h2>
			    		<ul>
			    			<li><a>认证快捷</a></li>
			    			<li><a>需要上传清晰的营业执照照片</a></li>
			    		</ul>
			    		<button class="changcorlor" >去认证</button>
			    	</div>
			    </div>
