<link href="/themes/<%=staticforder%>/css/passwordReset.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
<div class="reset-content"  ng-controller="passwordResetController" >
				<div class="icon"></div>
				<form  name="resetPassword" ng-submit="resetFirst()" novalidate>
					<input type="text" class="username" id="username" value="" name="username" ng-model="username" autocomplete="off" placeholder="手机号/账户名/邮箱"
						   ng-pattern="/(^[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$)|(^1[34578]\d{9}$)/" required />
					<div class="username-tip" >
						<div ng-show="resetPassword.username.$dirty&&resetPassword.username.$invalid">
							<i class="login-tip-div-i"></i><span>手机号/账户名/邮箱错误</span>
						</div>
					</div>
					<div class="code">
						<input type="text"   id="code" name="code" value="" ng-model="code"
							   autocomplete="off" placeholder="图片验证码" required />
						<my-code></my-code>
					</div>
					<div class="wrapper">
						<div class="code-tip" >
							<div ng-show="resetPassword.code.$dirty&&resetPassword.code.$invalid">
								<i class="login-tip-div-i"></i><span>验证码不能为空</span>
							</div>
						</div>
						<div class="changeCode">
							<span>验证码看不清？</span><a href="javascript:void (0)" ng-click="changeCode()">换一张</a>
						</div>
					</div>
					<div class="errorMessage">{{errorMessage}}</div>
					<input type="submit" class="submitBtn" ng-class="{disableBtn:resetPassword.$invalid}" value="提    交" ng-disabled="resetPassword.$invalid"/>
				</form>
			</div>
