<link href="/themes/<%=staticforder%>/css/setPassword.css?vesion=<%=siteConfig.version%>" rel="stylesheet">
<div class="reset-content" ng-controller="setPasswordController">
				<div class="icon"></div>
				<div class="user">当前用户名：{{userName}}</div>
				<form action="" name="tele" novalidate ng-submit="resetThird()">
					<div class="reqPwd">
						<input type="password" id="password" name="password" value="" ng-model="password"
							   autocomplete="off" placeholder="设置新密码" required />
						<i class="login-green-check-ok" ng-show="tele.password.$dirty&&tele.password.$valid"></i>
					</div>
					<div class="regAgainPwd">
						<input type="password" id="regAgainPwd" name="regAgainPwd" value="" pw-check="password"
							   ng-model="regAgainPwd"autocomplete="off" placeholder="密码确认" required />
						<i class="" ng-show="(!tele.regAgainPwd.$error.pwmatch)&&tele.regAgainPwd.$dirty&&tele.regAgainPwd.$valid"></i>
					</div>
					<div class="regAgainPwd-tip">
						<div ng-show="tele.regAgainPwd.$error.pwmatch&&tele.regAgainPwd.$dirty">
							<i class="reg-tip-div-i"></i><span>两次密码不一样</span>
						</div>
					</div>
					<div class="errorMessage">{{errorMessage}}</div>
					<input type="submit" class="submitBtn" ng-class="{disableBtn:tele.$invalid}" value="完    成" ng-disabled="tele.$invalid"/>
				</form>
			</div>
<!--<a href="javascript:void(0)" class="box">即将跳转。。。</a>-->