<style>
    .paging{
           clear: both;
           width:100%;
           height: 80px;
           margin-bottom: 40px;
       }
    .paging>ul{
        position: relative;
        left: 550px;
    }
    .table>li{
        float: left;
        margin-right: 30px;
        margin-top: 5px;
    }
    img{
        width: 220px;
        height: 220px;
    }
    .aboutshop>a{
        width: 220px;
        height: 220px;
    }
</style>
<div class="row" ng-controller="ebookManage">
    <div class="col-xs-12">
        <div class="panel">
            <div class="box">
                <div class="box-body table-responsive no-padding" >
                    <ul class="table" style="list-style: none">
                            <!--<li>-->
                                <!--<input readonly type="text" data-toggle="city-picker" value="" id="region">-->
                            <!--</li>-->
                        <!--<li>-->
                            <!--<button class="btn btn-primary btn-sm" type="button" id="resetDistrict"><span class="fa fa-plus-undo" aria-hidden="true">&nbsp;</span> 重置地区</button>-->
                        <!--</li>-->
                            <!--<li>标题：-->
                                <!--<input  type="text"  value="" ng-model="textForSearch">-->
                            <!--</li>-->
                        <li>社区：
                            <select id="status1" ng-model="status1">
                                <option value="">全部</option>
                                <option value="1">蒲潭南区</option>
                                <option value="2">蒲潭北区</option>
                                <option value="3">幸福小区</option>
                                <option value="4">凤凰苑小区</option>
                                <option value="5">龙湖小区一期</option>
                                <option value="6">龙湖小区二期</option>
                                <option value="7">小军山小区</option>
                                <option value="0">其它</option>
                            </select>
                        </li>
                            <li>
                                    <button class="btn btn-primary btn-sm" type="button" ng-click="searchForEbookManage()"><span class="fa fa-plus-undo" aria-hidden="true">&nbsp;</span> 搜索</button>
                            </li>
                        <!--<li>-->
                            <!--<a class="btn-group" href="/admin/manage/addEbookManage">-->
                                <!--<button class="btn btn-primary btn-sm" type="button"><span class="fa fa-plus-square" aria-hidden="true">&nbsp;</span> 添加期刊</button>-->
                            <!--</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th><input type="checkbox" class="mini" id="selectAll"/></th>
                        <th>社区类别</th>
                        <th>具体地点</th>
                        <th>联系人</th>
                        <th>联系电话</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    <tr class="datalist" ng-repeat="item in dataList">
                        <td><input type="checkbox" name="listItem" class="mini" value="{{item._id}}" ng-click="getNewIds()"/></td>
                        <td>{{item.resType|valToDistrict}}</td>
                        <td>{{item.detailPlace}}</td>
                        <td>{{item.contacts}}</td>
                        <td>{{item.phoneNum}}</td>
                        <td>{{item.createdAt | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" data-whatever="{{item._id}}" data-toggle="modal" data-target="#addContentTags" ng-click="changeScope(item)"><span class="fa fa-fw fa-edit" aria-hidden="true"></span>查看详情</button>&nbsp;
                            <button class="btn btn-primary btn-xs" data-whatever="{{item._id}}" data-toggle="modal" data-target="#fankui" ng-click="changeScope(item)"><span class="fa fa-fw fa-edit" aria-hidden="true"></span>回复</button>&nbsp;
                            <!--<button class="btn btn-default btn-xs" type="button" title="删除" ng-click="delOneItem(item._id)"><i class="fa fa-trash-o"></i></button>-->
                        </td>
                    </tr>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="paging">
                    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" previous-text="上一页" first-text="第一页" last-text="最后一页"
                                next-text="下一页"	id="pagination"	class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" ng-change="pageChanged(bigCurrentPage)"
                                items-per-page="itemsPerPage"></pagination>
                </div>
            </div>
            <div class="overlay hide" id="dataLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div><!-- /.box -->
    </div>

    <div class="modal fade bs-example-modal-lg" id="addContentTags">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">详细信息展示</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" name="myForm"  novalidate>
                        <div class="form-group">
                            <label class="control-label col-sm-4">社区类别</label>
                            <div class="col-sm-6">
                                <span class="form-control" >{{content.resType|valToDistrict}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4">具体地点</label>
                            <div class="col-sm-6">
                                <span class="form-control" >{{content.detailPlace}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">反映内容</label>
                            <div class="col-sm-6">
                                {{content.details}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">回复内容</label>
                            <div class="col-sm-6">
                                {{content.fankuiContent}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">联系人</label>
                            <div class="col-sm-6">
                                <span class="form-control" >{{content.contacts}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">联系电话</label>
                            <div class="col-sm-6">
                                <span class="form-control" >{{content.phoneNum}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">图片</label>
                            <div class="modifyPic col-sm-4 " ng-repeat="image in content.images">
                                <a ng-href={{image}} target="_blank"><img  id="coverImg" ng-src={{image}} /></a>
                            </div>
                        </div>

                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div><!-- /.row -->
    <div class="modal fade bs-example-modal-lg" id="fankui">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">反馈回复</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" name="myForm"  novalidate>
                        <div class="form-group">
                            <label class="control-label col-sm-4">反馈内容</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="fankui" id="fankuiContent" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="submit">提交</button>
                        </div>

                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div><!-- /.row -->
</div>
<script>
    window.onload=function () {
        $('#addContentTags').on('hidden.bs.modal', function (e) {
            $("#addContentTags").scope().content={}
        });
        $('#fankui').on('hidden.bs.modal', function (e) {
            $("#addContentTags").scope().content={}
        });
        $("#submit").on("click",function () {
            swal({
                        title: "确定提交反馈?",
                        text: "请检查内容!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "提交",
                        closeOnConfirm: false
                    },
                    function(){
                        var fankui=$("#fankuiContent").val()
                        if(!fankui||fankui.length==0&&fankui.trim().length==0){
                            swal({
                                title: "反馈内容为空，请填写完整！",
                                type: "error",
                                confirmButtonText: "确定"
                            });
                            return false
                        }
                        var dataForPost={
                            content:fankui,
                            id:$("#addContentTags").scope().content.id,
                            phoneNum:$("#addContentTags").scope().content.phoneNum
                        }
                        $.post("/wechat/fankuiContent",dataForPost,function (res) {
                            if(res=="success"){
                                swal({
                                    title: "提交成功",
                                    type: "success",
                                    confirmButtonText: "确定"
                                });
                                $("#addContentTags").modal('hide')
                            }else {
                                swal({
                                    title: "提交失败",
                                    type: "error",
                                    confirmButtonText: "确定"
                                });
                                console.log(res)
                                $("#addContentTags").modal('hide')
                            }
                        })
                    });

        })
    }
</script>
