<style>
    .city-picker-dropdown{
        top:9% !important;
    }
    .file-drop-zone{
        width: 250px !important;
    }
    .file-preview-thumbnails{
        width: 250px !important;
    }
    .uploadPic{
        width: 300px;
        height: 250px;
    }
    .uploadPic>img{
        width: 300px;
        height: 250px;;
    }
    .file-preview{
        margin-left: 40px !important;
    }
    .paging{
        clear: both;
        width:100%;
        height: 80px;
        margin-bottom: 40px;
    }
    .paging>ul{
        position: relative;
        left: 700px;
    }
    .table>li{
        float: left;
        margin-right: 30px;
        margin-top: 5px;
    }
</style>
<div class="row" ng-controller="withdrawCashManageController">
    <div class="col-xs-12">
        <div class="panel">
            <div class="box-body table-responsive no-padding" >
                <ul class="table" style="list-style: none">
                    <li>提现状态：
                        <select id="status" ng-model="status">
                            <option value="">全部</option>
                            <option value="1">请求提现</option>
                            <option value="2">审核中</option>
                            <option value="3">提现完成</option>
                        </select>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-sm" type="button" ng-click="searchForSlideManage()"><span class="fa fa-plus-undo" aria-hidden="true">&nbsp;</span> 搜索</button>
                    </li>

                </ul>
            </div>
        </div>
        <div class="box">
            <div class="box-body table-responsive no-padding" >
                <table class="table table-hover">
                    <tr>
                        <th><input type="checkbox" class="mini" id="selectAll"/></th>
                        <th>标题</th>
                        <th>支付定金金额</th>
                        <th>支付尾款金额</th>
                        <th>提现金额</th>
                        <th>招标状态类型</th>
                        <th>提现状态</th>
                        <th>招标联系人</th>
                        <th>招标方联系电话</th>
                        <th>提现联系人</th>
                        <th>提现方联系电话</th>
                        <th>提现创建时间</th>
                        <th>操作</th>
                    </tr>
                    <tr class="datalist" ng-repeat="item in dataList">
                        <td><input type="checkbox" name="listItem" class="mini" value="{{item._id}}" ng-click="getNewIds()"/></td>
                        <td>{{item.targetId.title}}</td>
                        <td>{{item.targetId.downpayment}}</td>
                        <td>{{item.targetId.finalpayment}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.targetId.status|valToStatus}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.targetId.contacts}}</td>
                        <td>{{item.targetId.phoneNum}}</td>
                        <td>{{item.user.nickName}}</td>
                        <td>{{item.user.phoneNum}}</td>
                        <td>{{item.createdAt | date : "yyyy-MM-dd HH:mm:ss"}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" type="button" title="审核通过" ng-click="agreeWithdraw(item)">审核通过</button>
                            <button class="btn btn-default btn-xs" type="button" title="删除" ng-click="delOneItem(item._id)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </table>
                <div class="paging">
                    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" previous-text="上一页" first-text="第一页" last-text="最后一页"
                                next-text="下一页"	id="pagination"	class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" ng-change="pageChanged(bigCurrentPage)"
                                items-per-page="itemsPerPage"></pagination>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->

    </div><!-- /.col -->
</div>

</div>

<script>
    $(function () {
        $("#resetDistrict").on("click",function () {
            $('#region1').citypicker("reset");
            $("#region1").scope().regionStr="";
            $("#region1").scope().regionForSearch={}
            $("#region1").scope().$apply();
        })
        document.addEventListener("listen", function (e) {
            $("#region1").scope().regionStr=finalText;
            $("#region1").scope().$apply();
        }, false);
    })
</script>