<style>
    .cityinfo{
        width: 100%;
        height: 30px;
        margin-top: 20px;
    }
    .cityinfo li{
        height: 30px;
        line-height: 30px;
        width: auto;
        margin-right: 42px;
        float: left;
        font-size: 19px;
    }
</style>
<div>
    <h2>城市运营商</h2>
    <ul class="cityinfo">
        <li>运营城市：武汉</li>
        <li>注册用户总数：5888</li>
        <li>当月新增注册用户：266</li>
        <li>累计总收入：4.5万</li>
    </ul>
</div>